/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 14, 2024, 10:33:53 PM
    Author     : lu
*/

body {
    background-color:#14080e;
}

.skin-3 .nav-list>li.open+li,.skin-3 .nav-list>li:hover+li {
    border-top-color: #95bad2!important
}

.skin-3 .infobox-container .infobox:not(.infobox-dark),.skin-3 .nav-list li.active>a:before {
    background-color: transparent
}

.skin-3 {
    background-color: #BBB
}

.skin-3 .main-container:before {
    background: #14080e;
    background: -moz-linear-gradient(top,#EEF5FA 0,#14080e 8%) 0 4px;
    background: -webkit-gradient(linear,0 0,0 100%,from(#EEF5FA),color-stop(4%,#14080e)) 0 4px;
    background: -webkit-linear-gradient(top,#EEF5FA 0,#14080e 8%) 0 4px;
    background: -o-linear-gradient(top,#EEF5FA 0,#14080e 8%) 0 4px;
    background: -ms-linear-gradient(top,#EEF5FA 0,#14080e 8%) 0 4px;
    background: linear-gradient(top,#EEF5FA 0,#14080e 8%) 0 4px;
}

@media (min-width: 768px) {
    .skin-3 .main-container.container:before {
        -webkit-box-shadow:0 0 0 1px rgba(50,100,200,.1);
        box-shadow: 0 0 0 1px rgba(50,100,200,.1)
    }
}

.skin-3 .navbar {
    background: #404040
}

.skin-3 .sidebar {
    background-color: #DBDBDB;
    border-color: #A4C6DD
}

.skin-3 .nav-list>li {
    border-color: #F2F2F2
}

.skin-3 .nav-list>li.open,.skin-3 .nav-list>li:hover {
    border-color: #95bad2!important
}

.skin-3 .nav-list>li>a {
    background-color: #E3E3E3;
    color: #5A5A5A
}

.skin-3 .nav-list>li>a:focus {
    background-color: #e8e8e8;
    color: #5A5A5A
}

.skin-3 .nav-list>li.active,.skin-3 .nav-list>li.active+li {
    border-color: #A4C6DD!important
}

.skin-3 .nav-list>li.active+li:last-child {
    border-bottom-color: #F2F2F2!important
}

.skin-3 .nav-list>li.active+li:last-child:hover {
    border-bottom-color: #95bad2!important
}

.skin-3 .nav-list>li:hover>a {
    background-color: #14080e;
    color: #337dbb
}

.skin-3 .nav-list>li.open:hover>a,.skin-3 .nav-list>li.open>a {
    color: #337dbb;
    background-color: #F8F8F8
}

.skin-3 .nav-list>li.active.highlight>a,.skin-3 .nav-list>li.active>a {
    background-color: #f3faff!important;
    color: #4D96CB!important
}

.skin-3 .nav-list>li.open:before,.skin-3 .nav-list>li:hover:before {
    display: block;
    background-color: #4f8ab4!important
}

.skin-3 .nav-list>li.active:before {
    display: block;
    background-color: #4D96CB!important
}

.skin-3 .nav-list li.active>a:after {
    border-right-color: #14080e;
}

.skin-3 .nav-list li.active>a:before {
    border-color: transparent #91bad6 transparent transparent;
}

.skin-3 .nav-list>li.highlight.active>a:after {
    border-left-color: #f3faff
}

.skin-3 .nav-list>li.highlight.active>a:before {
    border-left-color: #91bad6
}

.skin-3 .nav-list li>.arrow:before {
    border-right-color: #7fafcf
}

.skin-3 .nav-list>li .submenu>li.active:not(.open)>a {
    background-color: #F5F7FA
}

.skin-3 .nav-list>li .submenu>li.active:not(.open)>a:hover {
    background-color: #F1F5F9
}

@media only screen and (min-width: 992px) {
    .skin-3 .nav-list li.hover>.submenu {
        border-color:#99bfd9
    }
}

.skin-3 .sidebar.menu-min .nav-list>li>a>.menu-text {
    background-color: #f1f5f9;
    border-color: #A4C6DD
}

.skin-3 .sidebar.menu-min .nav-list>li.active>a>.menu-text {
    background-color: #EDF3F7
}

.skin-3 .sidebar.menu-min .nav-list>li>.submenu {
    border-color: #C9DAE5 #A4C6DD #A4C6DD
}

.skin-3 .sidebar.menu-min .nav-list>li.active>.arrow:before {
    border-right-color: #709FBF
}

.skin-3 .sidebar.menu-min .nav-list>li>.arrow:after {
    border-right-color: #EDF3F7
}

.skin-3 .sidebar.menu-min .sidebar-shortcuts-large {
    background-color: #F5F5F5
}

@media only screen and (max-width: 991px) {
    .skin-3 .sidebar.navbar-collapse {
        border-bottom-color: #A4C6DD
    }

    .skin-3 .sidebar.responsive-min .nav-list>li>a>.menu-text {
        background-color: #f1f5f9;
        border-color: #A4C6DD
    }

    .skin-3 .sidebar.responsive-min .nav-list>li.active>a>.menu-text {
        background-color: #EDF3F7
    }

    .skin-3 .sidebar.responsive-min .nav-list>li>.submenu {
        border-color: #C9DAE5 #A4C6DD #A4C6DD
    }

    .skin-3 .sidebar.responsive-min .nav-list>li.active>.arrow:before {
        border-right-color: #709FBF
    }

    .skin-3 .sidebar.responsive-min .nav-list>li>.arrow:after {
        border-right-color: #EDF3F7
    }
}

.skin-3 .sidebar-shortcuts,.skin-3 .sidebar-shortcuts-mini,.skin-3 .sidebar>.nav-search {
    background-color: #DBDBDB
}

.skin-3 .sidebar-toggle {
    background-color: #D0D0D0;
    border-color: #F2F2F2
}

.skin-3 .sidebar-toggle:before {
    border-color: #F2F2F2
}

.skin-3 .sidebar-toggle>.ace-icon {
    background-color: #14080e;
    border-color: #999;
    color: #999
}

.skin-3 .sidebar-scroll .nav-wrap-up+.sidebar-toggle:after {
    border-right: 1px solid #A4C6DD
}

.skin-3 .main-container .menu-toggler {
    background-color: #62A8D1;
    color: #14080e
}

.skin-3 .navbar .navbar-toggle,.skin-3 .navbar .navbar-toggle:focus {
    background-color: #648CAE;
    border-color: rgba(255,255,255,.15)
}

.skin-3 .main-container .menu-toggler:after,.skin-3 .main-container .menu-toggler:before {
    border-color: #14080e
}

.skin-3 .main-container .menu-toggler>.toggler-text {
    border-top-color: #62A8D1
}

.skin-3 .main-container .menu-toggler>.toggler-text:after {
    color: #14080e
}

.skin-3 .navbar .navbar-toggle:hover {
    background-color: #5782a7;
    border-color: rgba(255,255,255,.15)
}

.skin-3 .navbar .navbar-toggle.display,.skin-3 .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed) {
    background-color: #507899;
    border-color: rgba(255,255,255,.3)
}

.skin-3 .breadcrumbs {
    background-color: #E7F2F8;
}

@media only screen and (min-width: 992px) {

    .skin-3 .sidebar.h-sidebar {
        background-color: #14080e
    }

    .skin-3 .sidebar.h-sidebar:before {
        background-color: #CBD0D6;
    }

    .skin-3 .sidebar.h-sidebar .sidebar-shortcuts-large {
        background-color: #14080e;
    }

    .skin-3 .sidebar.h-sidebar+.main-content .breadcrumbs {
        border-color: #d5e7f1;
    }

    .skin-3 .sidebar.h-sidebar .nav-list>li.hover>.submenu {
        border-color: #A4C6DD
    }

    .skin-3 .sidebar.h-sidebar .nav-list>li {
        border-color: #F2F2F2
    }

    .skin-3 .sidebar.h-sidebar .nav-list>li:hover,.skin-3 .sidebar.h-sidebar .nav-list>li:hover+li {
        border-left-color: #95bad2
    }

    .skin-3 .sidebar.h-sidebar .nav-list>li.active,.skin-3 .sidebar.h-sidebar .nav-list>li.active+li,.skin-3 .sidebar.h-sidebar .nav-list>li:hover+li.active,.skin-3 .sidebar.h-sidebar.menu-min .nav-list>li.active>a>.menu-text {
        border-left-color: #A4C6DD
    }

    .skin-3 .sidebar.h-sidebar .nav-list>li:last-child:hover {
        border-right-color: #95bad2
    }

    .skin-3 .sidebar.h-sidebar .nav-list>li.active:last-child {
        border-right-color: #A4C6DD
    }

    .skin-3 .sidebar.h-sidebar .nav-list>li.active>a:after {
        border-color: transparent transparent #14080e;
    }

    .skin-3 .sidebar.h-sidebar .nav-list>li.active>a:before {
        border-color: transparent transparent #74add7
    }

    .skin-3 .sidebar.h-sidebar .nav-list>li.hover>.arrow:before {
        border-right-color: transparent;
        border-bottom-color: #7fafcf
    }

    .skin-3 .sidebar.h-sidebar.menu-min .nav-list>li.hover>.submenu {
        border-top-color: #C9DAE5
    }

    .skin-3 .sidebar.h-sidebar.menu-min .nav-list>li>.arrow:after {
        border-bottom-color: #EDF3F7
    }
}

.skin-3 .sidebar-scroll .sidebar-shortcuts {
    border-bottom-color: 1px solid #99B6C9
}

.skin-3 .sidebar-scroll .sidebar-toggle {
    border-top-color: #99B6C9
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .skin-3 .navbar.navbar-collapse {
        background-color:transparent
    }

    .skin-3 .navbar.navbar-collapse .navbar-container,.skin-3 .navbar.navbar-collapse:before {
        background: #404040
    }
}
